html {
  font-family: 'Chelsea Market', cursive;
  background-color: black;
  color: whitesmoke;
}

body {
  width: 75vw;
  margin: auto;
  display: flex;
  flex-direction: column;
}

header {
  display: flex;
  flex-direction: column;
}

h1 {
  font-size: 5em;
  align-self: center;
  justify-self: center;
  text-align: center;
  font-weight: bolder;
}

nav {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 5vw;
  width: 100%;
}

button {
  margin: 2vw 0 2vw 0;
  height: 10vw;
  width: 90%;
  border: 5px groove grey;
  border-radius: 4em;
  background-color: green;
  color: white;
  font-family: 'Chelsea Market', cursive;
  font-size: xx-large;
}

button:hover {
  width: 75%;
  height: 12vw;
  position: absolute;
  border: 5px double aquamarine;
}

button:active {
  width: 65%;
  height: 10vw;
  background-color: darkslategray;
  border: 5px ridge green;
  position: absolute;
}

article {
  display: flex;
  flex-direction: row;
  margin: 2vw 0 2vw 0;
}

article div {
  width: 30%;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

article h2 {
  font-size: x-large;
  margin-bottom: 0.5vw;
}

article img {
  width: 15vw;
  height: 15vw;
  border: 5px double grey;
  border-radius: 2em;
}

article img:hover {
  position: absolute;
  width: 25vw;
  height: 20vw;
  border: 5px ridge aquamarine;
}

article img:active {
  position: absolute;
  border: 5px groove green;
  width: 23vw;
  height: 18vw;
}

canvas {
  margin: 2vw 0 2vw 0;
}

footer {
  display: flex;
  flex-direction: column;
  align-items: center;
}